*

!.gitignore
!install.sh
!VSCodium
!VSCodium/User
!VSCodium/User/settings.json
!VSCodium/User/README.md
!nvim
!nvim/*
!darling
!darling/*
!onedrive
!onedrive/config
!onedrive/README.md
!wezterm
!wezterm/*
!scripts
!scripts/*
!joshuto
!joshuto/*
!README.md
!bash
!bash/*
